<section class="signup-sec"></section>
    <div class="">
        <div class="form-signup">
            <form action="/admin/admin-signin" method="post" class="bg-light rounded-3 p-4 p-md-5">
                <h1 class="h3 mb-4 fw-normal text-center">Admin Sign-in</h1>

                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="name" placeholder="name">
                    <label for="floatingInput">Name</label>
                </div>
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <a class="float-right" href="/admin/admin-login">Already have an account ?</a>

                <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Signup</button>
            </form>
        </div>
    </div>
</section>