<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Table in Node.js</title>
  
</head>
<body>

<div class="container mt-5">
       <div class="text-end ml-auto"></div>
                <a href="/admin/add-product"><button class="btn btn-success my-4">Add products</button></a>
            </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
            </tr>
        </tbody>
    </table>
</div>


</body>
</html>
